@model TareaSemana4.Models.Entidades.VentasCabeceraModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VentasCabeceraModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
       @*  <form asp-action="Create"> *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaVenta" class="control-label"></label>
                <input asp-for="FechaVenta" class="form-control" />
                <span asp-validation-for="FechaVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codigo_Venta" class="control-label"></label>
                <input asp-for="Codigo_Venta" class="form-control" />
                <span asp-validation-for="Codigo_Venta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notas" class="control-label"></label>
                <input asp-for="Notas" class="form-control" />
                <span asp-validation-for="Notas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sub_Total_Venta" class="control-label"></label>
                <input asp-for="Sub_Total_Venta" class="form-control" />
                <span asp-validation-for="Sub_Total_Venta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado_Venta" class="control-label"></label>
                <input asp-for="Estado_Venta" class="form-control" />
                <span asp-validation-for="Estado_Venta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descuento" class="control-label"></label>
                <input asp-for="Descuento" class="form-control" />
                <span asp-validation-for="Descuento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total_Venta" class="control-label"></label>
                <input asp-for="Total_Venta" class="form-control" />
                <span asp-validation-for="Total_Venta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Metodo_Pago" class="control-label"></label>
                <input asp-for="Metodo_Pago" class="form-control" />
                <span asp-validation-for="Metodo_Pago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientesModelId" class="control-label"></label>
                <select asp-for="ClientesModelId" class ="form-control" asp-items="ViewBag.ClientesModelId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Create_At" class="control-label"></label>
                <input asp-for="Create_At" class="form-control" />
                <span asp-validation-for="Create_At" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Update_At" class="control-label"></label>
                <input asp-for="Update_At" class="form-control" />
                <span asp-validation-for="Update_At" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isDelete" /> @Html.DisplayNameFor(model => model.isDelete)
                </label>
            </div>
        <button type="button" id="addProduct" class="btn-add"
                data-bs-toggle="modal" data-bs-target="#modalProductos"
                onclick="Lista_Productos()">
            + Agregar Producto
        </button>

        <!-- Botón de enviar -->
        <div class="form-group">
            <button onclick="crear_venta()" class="btn-submit">Guardar Venta</button>
        </div>
       @*  </form> *@
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div class="modal fade" id="modalProductos" tabindex="-1" aria-labelledby="Productos" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agrager Prodcuctos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table>
                    <thead>
                        <tr>
                            <th>Nombre Producto</th>
                            <th>Precio Venta</th>
                            <th>Cantidad</th>
                            <th>Agregar</th>
                        </tr>
                    </thead>
                    <tbody id="Lista_prodcutos"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>